.App {
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.Left {
  display: flex;
}

.Right {
  display: flex;
  flex-direction: row-reverse;
}

.image {
  width: 35%;
}